# Contentful API Credentials

# 1. Get these from your Contentful Settings > API Keys
# 2. Rename this file to .env
# 3. Add to your .gitignore to keep them secret!

CONTENTFUL_SPACE_ID=your_space_id_here
CONTENTFUL_ACCESS_TOKEN=your_access_token_here
